Calendar.App.Api/Calendar.App.Api/.vs/Calendar.App.Api/config/applicationhost.config
Calendar.App.Api/Calendar.App.Api/.vs/Calendar.App.Api/FileContentIndex/3c4837c7-38b0-4709-b4de-d6eae1229c52.vsidx
Calendar.App.Api/Calendar.App.Api/.vs/Calendar.App.Api/v17/DocumentLayout.json
Calendar.App.Api/Calendar.App.Api/Calendar.App.Api/bin/Debug/net8.0/appsettings.Development.json
Calendar.App.Api/Calendar.App.Api/Calendar.App.Api/bin/Debug/net8.0/appsettings.json
Calendar.App.Api/Calendar.App.Api/Calendar.App.Api/bin/Debug/net8.0/Calendar.App.Api.deps.json
Calendar.App.Api/Calendar.App.Api/Calendar.App.Api/bin/Debug/net8.0/Calendar.App.Api.runtimeconfig.json
Calendar.App.Api/Calendar.App.Api/Calendar.App.Api/obj/Calendar.App.Api.csproj.nuget.dgspec.json
Calendar.App.Api/Calendar.App.Api/Calendar.App.Api/obj/Calendar.App.Api.csproj.nuget.g.props
Calendar.App.Api/Calendar.App.Api/Calendar.App.Api/obj/Calendar.App.Api.csproj.nuget.g.targets
Calendar.App.Api/Calendar.App.Api/Calendar.App.Api/obj/project.assets.json
Calendar.App.Api/Calendar.App.Api/Calendar.App.Api/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Calendar.App.Api/Calendar.App.Api/Calendar.App.Api/obj/Debug/net8.0/Calendar.App.Api.AssemblyInfo.cs
Calendar.App.Api/Calendar.App.Api/Calendar.App.Api/obj/Debug/net8.0/Calendar.App.Api.csproj.FileListAbsolute.txt
Calendar.App.Api/Calendar.App.Api/Calendar.App.Api/obj/Debug/net8.0/Calendar.App.Api.GeneratedMSBuildEditorConfig.editorconfig
Calendar.App.Api/Calendar.App.Api/Calendar.App.Api/obj/Debug/net8.0/Calendar.App.Api.GlobalUsings.g.cs
Calendar.App.Api/Calendar.App.Api/Calendar.App.Api/obj/Debug/net8.0/Calendar.App.Api.MvcApplicationPartsAssemblyInfo.cs
Calendar.App.Api/Calendar.App.Api/Calendar.App.Api/obj/Debug/net8.0/Calendar.App.Api.sourcelink.json
Calendar.App.Api/Calendar.App.Api/Calendar.App.Api/obj/Debug/net8.0/Calendar.E237B1F2.Up2Date
Calendar.App.Api/Calendar.App.Api/Calendar.App.Api/obj/Debug/net8.0/staticwebassets.build.json
Calendar.App.Api/Calendar.App.Api/Calendar.App.Api/obj/Debug/net8.0/staticwebassets/msbuild.build.Calendar.App.Api.props
Calendar.App.Api/Calendar.App.Api/Calendar.App.Api/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.Calendar.App.Api.props
Calendar.App.Api/Calendar.App.Api/Calendar.App.Api/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.Calendar.App.Api.props
